html {
    margin: 0;
	padding: 0;
	color: #aaaaaa;
	background-color: #1a1a1a;
	font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

#header {
    background-color: black;
    border-bottom: 2px solid #5c0a59;
}

#header img {
    position: relative;
    top: -10px;
    left: -50px;
  }
  

h1, h2, h3, h4, h5, h6 {
    color: white;
}
.nav {
    background-color: black;
    overflow: hidden;
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #5c0a59;
    z-index: -1;
}

.nav a{
    float: left;
    color: #f2f2f2;
    text-align:center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    z-index: 1;
}

.nav a:hover {
    opacity:0;
 }

 .nav a.active{
    color: white;
}
.anim {
    position: absolute;
  left: 75px;
  top: 165px;
  z-index: 0;
}
.break {
    flex-basis: 2.5%;
    height: 0;
  }

.lastposts{
    background-color: #350633;
    width: 750px;
    height: 250px;


}
.popularvoucher {
    background-color: #350633;
    width: 750px;
    height: 250px;
}

.content-wrap {
    display: flex;
}

html
    {
         background-image: url('images/bg.png');
    }